parameters:
	ignoreErrors:
		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Dto\\\\BaseRequestDTO\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/BaseRequestDTO.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Dto\\\\BaseRequestDTO\\:\\:map\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/BaseRequestDTO.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Dto\\\\BaseRequestDTO\\:\\:messages\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/BaseRequestDTO.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Dto\\\\BaseRequestDTO\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/BaseRequestDTO.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Dto\\\\BaseRequestDTO\\:\\:validate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/BaseRequestDTO.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Dto\\\\DataTransferObjectInterface\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/DataTransferObjectInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Dto\\\\PaginatedResponseDTO\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Dto/PaginatedResponseDTO.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Exceptions\\\\ApiException\\:\\:__construct\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/ApiException.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Exceptions\\\\ApiException\\:\\:getErrors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/ApiException.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Exceptions\\\\ApiException\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/ApiException.php

		-
			message: "#^Property dcardenasl\\\\Ci4ApiCore\\\\Exceptions\\\\ApiException\\:\\:\\$errors type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/ApiException.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Exceptions\\\\BadRequestException\\:\\:__construct\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/BadRequestException.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Exceptions\\\\NotFoundException\\:\\:__construct\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/NotFoundException.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Exceptions\\\\ValidationException\\:\\:__construct\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Exceptions/ValidationException.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 2
			path: src/Http/ApiController.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiController\\:\\:collectRequestData\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiController.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiController\\:\\:collectRequestData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiController.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiController\\:\\:executeTarget\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiController.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiController\\:\\:handleRequest\\(\\) has parameter \\$additionalParams with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiController.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiController\\:\\:withSecurityContext\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiController.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiController\\:\\:withSecurityContext\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiController.php

		-
			message: "#^Parameter \\$config of method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiRequest\\:\\:__construct\\(\\) has invalid type Config\\\\App\\.$#"
			count: 2
			path: src/Http/ApiRequest.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:created\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:deleted\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:error\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:error\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:forbidden\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:fromResult\\(\\) has parameter \\$statusCodes with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:handleArray\\(\\) has parameter \\$result with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:notFound\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:paginated\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:paginated\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:serverError\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:success\\(\\) has parameter \\$meta with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:success\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:unauthorized\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:validationError\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Http\\\\ApiResponse\\:\\:validationError\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Http/ApiResponse.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:auditBeforeDelete\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:auditBeforeDelete\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:auditBeforeUpdate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:auditBeforeUpdate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:auditDelete\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:auditInsert\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:auditUpdate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:setAuditOldValues\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Property dcardenasl\\\\Ci4ApiCore\\\\Models\\\\BaseAuditableModel\\:\\:\\$auditOldValues type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Models/BaseAuditableModel.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:delete\\(\\) has parameter \\$id with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:errors\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:findAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:insert\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:paginateCriteria\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:paginateCriteria\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:restore\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:setEntityContext\\(\\) has parameter \\$entity with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:update\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Repositories\\\\RepositoryInterface\\:\\:update\\(\\) has parameter \\$id with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/RepositoryInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\AuditServiceInterface\\:\\:log\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/AuditServiceInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\AuditServiceInterface\\:\\:log\\(\\) has parameter \\$newValues with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/AuditServiceInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\AuditServiceInterface\\:\\:log\\(\\) has parameter \\$oldValues with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/AuditServiceInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\AuditServiceInterface\\:\\:logCreate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/AuditServiceInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\AuditServiceInterface\\:\\:logDelete\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/AuditServiceInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\AuditServiceInterface\\:\\:logUpdate\\(\\) has parameter \\$newValues with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/AuditServiceInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\AuditServiceInterface\\:\\:logUpdate\\(\\) has parameter \\$oldValues with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/AuditServiceInterface.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\BaseCrudService\\:\\:applyQueryOptions\\(\\) has parameter \\$criteria with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/BaseCrudService.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\BaseCrudService\\:\\:applyQueryOptions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/BaseCrudService.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\BaseCrudService\\:\\:beforeStore\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/BaseCrudService.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\BaseCrudService\\:\\:beforeStore\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/BaseCrudService.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\BaseCrudService\\:\\:beforeUpdate\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/BaseCrudService.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Services\\\\BaseCrudService\\:\\:beforeUpdate\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/BaseCrudService.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Support\\\\ApiResult\\:\\:__construct\\(\\) has parameter \\$body with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Support/ApiResult.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Support\\\\ExceptionFormatter\\:\\:resolveDebugInfo\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Support/ExceptionFormatter.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Support\\\\OperationResult\\:\\:__construct\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Support/OperationResult.php

		-
			message: "#^Method dcardenasl\\\\Ci4ApiCore\\\\Support\\\\OperationResult\\:\\:error\\(\\) has parameter \\$errors with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Support/OperationResult.php
